<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="eshop">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/resoruces"/>
        <wb-resource deploy-path="/WEB-INF/lib" source-path="/src/main/resources/lib"/>
        <dependent-module archiveName="adhoc-cqa-commons-1.0.2-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/adhoc-cqa-commons/adhoc-cqa-commons">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="adhoc-kernel-rest-commons-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/adhoc-kernel-rest-commons/adhoc-kernel-rest-commons">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="adhoc-scripting-selenium-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/adhoc-scripting-selenium/adhoc-scripting-selenium">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="perfstudio-kernel-5.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/perfstudio-kernel/perfstudio-kernel">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="eshop"/>
        <property name="java-output-path" value="/eshop/target/classes"/>
    </wb-module>
</project-modules>
